<%= simple_form_for(@post, :html => { :multipart => true }) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.association :category, :selected => :category, :input_html => { :class => "form-control" } %>
    <%= f.input :author %>
    <%= f.input :title %>
    <%= f.input :tag_list, :input_html => { :class => "search-query" } %>
    <%= f.input :content, :input_html => { :rows => 16 } %>
    <%= render "pictures/form", {:f => f, :model_object => @post} %>
  </div>

  <div class="actions">
    <%= f.button :submit, :class => "btn btn-primary"  %>
  </div>
<% end %>
<script type="text/javascript">
    $(document).ready(function () {
        $('#post_tag_list').tagsInput();
    });
</script>
