<div class="page-header">
  <h1>
    <%= @post.title %>
    <div class="pull-right">
      <%= link_to 'Edit', edit_post_path(@post), :class => "btn btn-info"  %>
      <%= link_to 'Back', posts_path, :class => "btn btn-default"  %>
    </div>
  </h1>
</div>

<div id="myCarousel" class="carousel slide">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <% counter = 0 %>
    <% @post.pictures.each do |picture| %>
        <% counter = counter + 1 %>
        <div class="item<%= ' active' if counter == 1 %>">
          <%= image_tag  root_url + picture.url, size: "800x400" %>
          <div class="carousel-caption">
            <p><%= picture.title %></p>
          </div>
        </div>
    <% end %>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>

<p sclass="lead" style="font-size: large">
  <%= @post.content %>.
</p>
<h4>Tags:</h4>
<p sclass="lead" style="font-size: large">
  <% @post.tags.each do |t| %>
      <%= t.name + ' ' %>
  <% end %>
</p>


<div class="panel panel-primary">
  <div class="panel-body">
    <h3>Comments</h3>
  </div>
  <div class="panel-footer">
    <%= render @post.comments, {:model_object => @post} %>
    <%= render "comments/form" %>
  </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#myCarousel').carousel({
            interval: 3000
        })
    });
</script>