<div class="page-header">
  <h1>
    <%= @post.title %>
    <div class="pull-right">
      <%= link_to 'Edit', edit_post_path(@post), :class => "btn btn-info"  %>
      <%= link_to 'Back', posts_path, :class => "btn btn-default"  %>
    </div>
  </h1>
</div>

<p sclass="lead" style="font-size: large">
  <%= @post.content %>.
</p>


<div class="panel panel-primary">
  <div class="panel-body">
    <h3>Comments</h3>
  </div>
  <div class="panel-footer">
    <%= render @post.comments %>
    <%= render "comments/form" %>
  </div>
</div>